# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Package artifacts
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Template files
/template.py
/lc.py
